# shellcheck disable=all
# =========================
# APP CONFIGURATION
# =========================
NODE_ENV=development
PORT=
CLIENT_URL=
STAGING_URL=
# SENTRY_DSN=

# =========================
# JWT CONFIGURATION
# =========================
JWT_SECRET=
JWT_TOKEN_AUDIENCE=
JWT_TOKEN_ISSUER=
JWT_ACCESS_TOKEN_TTL=
JWT_REFRESH_TOKEN_TTL=

# =========================
# DATABASE CONFIGURATION
# =========================
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_NAME=
DB_DIALECT=postgres
DATABASE_URL=

# =========================
# EMAIL CONFIGURATION
# =========================
EMAIL_HOST=
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_FROM=
EMAIL_PORT=
CUSTOMER_SERVICE_MAIL=

# =========================
# TWILIO CONFIGURATION
# =========================
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=

# =========================
# ATSK CONFIGURATION
# =========================
ATSK_API_KEY=
ATSK_USERNAME=
ATSK_SHORT_CODE=
ATSK_SENDER=
ATSK_DEV_API_KEY=
ATSK_DEV_USERNAME=

# =========================
# ARKESEL CONFIGURATION
# =========================
ARK_API_KEY=
ARK_SENDER=

# =========================
# CLOUDINARY CONFIGURATION
# =========================
CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# =========================
# REDIS & QUEUE CONFIGURATION
# =========================
REDIS_URL=
QUEUE_URL=
QUEUE_TLS=

# =========================
# LOGTAIL CONFIGURATION
# =========================
# (Add your Logtail config here)

# =========================
# MISCELLANEOUS
# =========================
NANOID_GEN=AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz1234567890%

